@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Numans", sans-serif;
}

.login-container {
  position: relative;
}

.Loginbackground {
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  filter: blur(2px);
  z-index: -1;
}

.container {
  height: 48vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10vh;
}
.custom-margin {
  margin: 40px;
}

.transformed-container {
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.card {
  height: 450px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card-header h3 {
  color: #ffbe33;
  text-align: center;
  margin-bottom: 20px;
}

.social_icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social_icon span {
  font-size: 30px;
  margin: 0 10px;
  color: #ffbe33;
  transition: color 0.3s;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffbe33;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.remember {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffbe33;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.login_btn:hover {
  background-color: white;
  transform: scale(1.05);
}

.links {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.links a {
  margin-left: 4px;
  color: #ffbe33;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: white;
}
