@import url("https://fonts.googleapis.com/css?family=Numans");
html,
body {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Numans", sans-serif;
}
.Loginbackground {
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  filter: blur(1px); /* Adjust the blur level as needed */
  z-index: -1; /* Ensure it stays behind other content */
}
.Loginbackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
}
.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10rem;
}
.transformed-container {
  animation: slide-in 1s ease-out forwards; /* Adjust timing and easing as needed */
}
@keyframes slide-in {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
.card {
  height: 370px;
  width: 400px;
  /* background-color: rgba(0,0,0,0.5) !important;0 */
  background-color: rgba(0, 0, 0, 0.674);
  /* opacity: 0.5; */
  margin: auto;
}
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}
.social_icon span:hover {
  color: white;
  cursor: pointer;
}
.card-header h3 {
  color: white;
}
.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}
input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.remember {
  color: white;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}
.login_btn:hover {
  color: black;
  background-color: white;
}
.links {
  color: white;
}
.links a {
  margin-left: 4px;
}
